* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.btn {
    color: #fff;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    padding: 10px 24px;
    border-radius: 41px;
    background: #e02c6d;
    border: none;
  }

  /* img{
    vertical-align: middle;
  } */


.container {
  width: 1200px;
  margin: auto;
}

/* Common_Css_End================= */

/* NavBar_Start-------------------- */

#Navbar {
  padding: 20px 0px;
}
#Navbar .main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#Navbar .main ul {
  display: flex;
}
#Navbar .main .logo {
  color: #3a3a3a;
  font-size: 24px;
  font-weight: 700;
}

#Navbar .main ul li {
  margin-left: 2rem;
  color: #3a3a3a;
  font-size: 1rem;
  font-weight: 600;
}

/* Navbar_End====================== */

/* Banner_section_start-------------- */
#Banner {
  margin-top: 80px;
}

#Banner .main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#Banner .Banner_title {
  color: #3a3a3a;
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 70px;
}

#Banner .banner_description {
  color: #3a3a3a;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}


/* Banner_section_end=============== */


/* Mobile_device-Start------------- */
@media screen and (max-width: 576px) {
    #Navbar .main{
       flex-direction: column;
        
      }

    
  #Banner .main{
    flex-direction: column-reverse;
    padding: 1rem 2rem;
  }


#Navbar .main ul {
   margin-top: 100px;
  } 

  #Navbar .main ul li{
    padding: 2rem 4rem;
  } 

  .Banner_text{
    margin-top: 2rem;
  }


}

/* Mobile_Device_End================== */




/* Medium_device_start--------------- */
@media screen and (min-width: 577px) and (max-width: 960px) {

    
}




/* Medium_device_end=================== */
