* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.btn {
  color: #fff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  padding: 10px 24px;
  border-radius: 41px;
  background: #e02c6d;
  border: none;
}

.container {
  width: 80%;
  margin: auto;
}


/* Common_Css_End================= */

/* NavBar_Start-------------------- */

#Navbar {
  padding: 20px 0px;
}
#Navbar .main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#Navbar .main ul {
  display: flex;
}
#Navbar .main .logo {
  color: #3a3a3a;
  font-size: 2rem;
  font-weight: 700;
}

#Navbar .main ul li {
  margin-left: 2rem;
  color: #3a3a3a;
  font-size: 1rem;
  font-weight: 600;
}

/* Navbar_End====================== */

/* Banner_section_start-------------- */
#Banner {
  margin-top: 80px;
}

#Banner .main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

#Banner .Banner_title {
  color: #3a3a3a;
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 70px;
}

#Banner .banner_description {
  color: #3a3a3a;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Banner_section_end=============== */

/* Img_section_star----------- */
#img_Section {
  margin-top: 200px;
}

.img_container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.img_container div {
  margin: auto;
}

/* Img_section_End=============== */

/* Popular_Collection_start */
#popular {
  margin-top: 100px;
  margin-bottom: 50px;
}

.collection_title {
  text-align: center;
}

.card_items {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
}

.card {
border-radius: 5px;
background: #FFF;
box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
margin: auto;
}

/* Popular_Collection_End */

/* Future_Products_Start---------- */
#Future{
  margin-top: 100px;
  margin-bottom: 200px;
}

.future_main{
  display: flex;
  justify-content: center;
 
}

.future_text h1{
  color: #0A0826;
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 60px;
  margin-top: 1rem;
 
}

.future_text p{
color: #6C6C6C;
font-family: Poppins;
font-size: 1rem;
font-weight: 700;
line-height: 28px; 
width: 501px;
height: 88px;
margin-top: 1rem;
margin-bottom: 1rem;
}

.future_img{
  width: 50%;
  margin: auto;

  
}

.future_text{
  width: 50%;
  margin: 0 auto;
}

/* Future_Products_End========     */


/* Responsive_Mobile_device-Start------------- */
@media screen and (max-width: 576px) {
  #Navbar .main {
    margin-top: 4rem;
    flex-direction: column;
  }

  #Navbar .main .logo {
    font-size: 4rem;
  }
  #Navbar .main ul {
    margin-top: 2rem;
  }

  #Navbar .main ul li a {
    font-size: 1.5rem;
    padding: 0rem 0rem;
    font-size: 1rem;
  

  }

  #Navbar .main ul li {
    margin-left: 0.5rem;
  
  }

  .container{
    width: 90%;
  }
  

  #Banner .main {
    flex-direction: column-reverse;
  }

  .Banner_text {
    margin-top: 3rem;
  }

  .img_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }

  .card_items {
    grid-template-columns: repeat(2, 1fr);
  }

  .future_main{
    flex-direction: column;
   
  }

  .future_text{
    margin-top: 3rem;   
   
  }



}
/* Responsive_Mobile_Device_End================== */

/* Responsive_Medium_device_start--------------- */
@media screen and (min-width: 577px) and (max-width: 960px) {
  #Navbar .main {
    margin-top: 4rem;
    flex-direction: column;
  }

  #Navbar .main .logo {
    font-size: 4rem;
  }

  #Navbar .main ul {
    margin-top: 7rem;
  }

  #Banner .main {
    flex-direction: column-reverse;
  }

  .Banner_text {
    margin-top: 3rem;
  }

  #Navbar .main ul li a {
    font-size: 2rem;
    text-transform: uppercase;
  }

  .img_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
  }

  .card_items {
    grid-template-columns: repeat(2, 1fr);
  }

  .future_main{
    flex-direction: column;
   
  }

  .future_text{
    margin-top: 3rem;   
   
  }
}

/* Responsive_Medium_device_end=================== */
